{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Applications – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Applications
      </h1>

      {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "[limitation]"
            },
            hint: {
              text: "Reapply to resit your oral exam"
            },
            href: "reapply",
            status: {
              tag: {
                text: "Reapply",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "OOW Unlimited II/1"
            },
                  hint: {
        text: "Issued 23 December 2022"
      },
          status: {
                text: "Complete"
            }
            
          },
          {
            title: {
              text: "OOW Less than 500gt Near Coastal II/3"
            },
                              hint: {
        text: "Cancelled 11 July 2022"
      },
          status: {
              tag: {
                text: "Cancelled",
                classes: "govuk-tag--grey"
              }
            }
          }
        ]
      }) }}


      <form action="#" method="">

        {{ govukButton({
          text: "Select an application"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
