{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
           Provide proof of your valid passport
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide proof of your valid passport
      </h1>

<p class="govuk">We require an image of your valid passport to verify your identity.</p>

<p class="govuk">The Maritime and Coastguard Agency (MCA) may request additional documentation if required.</p>


<p class="govuk"><strong>
You have uploaded this image</strong></p>

<img src="/public/images/passport.png" />


<div class="govuk-button-group">
  <a href="check-the-personal-details-you-provided"><button class="govuk-button" data-module="govuk-button">
    Continue
  </button></a>
  <a href="provide-proof-of-your-valid-passport.html">
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Upload a new image
  </button>
  </a>
</div>
        
    </div>
  </div>

{% endblock %}
