{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
   Cancel your application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
Cancel your application for [limitation] 
</h1>

<p>To cancel your application with The Maritime and Coastguard Agency (MCA), email the relevant seafarer training and certification branch listed under ‘Certification queries’ in the <a href="/footer/v3/contact">Contact page</a>. </p>
<h2 class="govuk-heading-m">What you should include within your email</h2>
<p>Email to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
<li>your application reference number</li>
<li>that you would like to cancel your application</li>
</ul>


{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You will need to start a new application if you cancel.",
  iconFallbackText: "Warning"
}) }}

        <p><a href="">Return to application overview</a></p>
    </div>
  </div>

{% endblock %}
