{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
          Contact
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,

    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Contact us
      </h1>

<p>If you need help with this service or have a question, contact the relevant team using the provided information. </p>

<p>When emailing us, include your full name, your Seafarer Reference Number (SRN), and a brief description of your query. </p>      

  <h2 class="govuk-heading-m">
Helpdesk</h2>
<p>For technical queries, general enquiries, or for help with accessing the service, you can: </p>

<ul class="govuk-list">
  <li><strong>Email:</strong> seafareroperations@mcga.gov.uk </li>
  
  <li><strong>Phone:</strong> +44 (0)333 399 0007 </li>
  
  <li><strong>Hours:</strong> 8am to 4pm </li>
</ul>


  <h2 class="govuk-heading-m">
Certification queries </h2>

<p>
  For queries relating to your Notice of Eligibility (NoE), Seafarer Reference Number (SRN) certifications, eligibility, or documentation, you can: 
</p>
<ul class="govuk-list">
  <li>
    <strong>Email:</strong> deck@mcga.gov.uk  (for deck officers) 
  </li>
  <li>
    <strong>Email:</strong>  engineering@mcga.gov.uk  (for engineering officers) 
  </li>
  <li>
    <strong>Phone:</strong> +44 (0)333 399 0040 
  </li>
  <li>
    <strong>Hours:</strong>  08:30am to 5pm  
  </li>
</ul>
  <h2 class="govuk-heading-m">Oral Exam queries </h2>

<p>
For queries relating to your exam booking, you can: </p>

<ul class="govuk-list">
  <li>
    <strong>Email:</strong> onlineoralexams@mcga.gov.uk
  </li>
  </ul>
  

<h2 class="govuk-heading-m">
Exam (Part A) and appeal queries</h2>

<p>
For exam (Part A), submission of evidence, or appeals queries you can: 
</p>

  <ul class="govuk-list">
  <li>
    <strong>Email:</strong> exams@mcga.gov.uk</li>
</ul>

</div>
  </div>

{% endblock %}
