{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Bank transfer – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check payment method</h1>
      
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      
      {{ govukSummaryList({
        rows: [
        {
            key: {
              text: "Payment method"
            },
            value: {
              text: "Bank transfer"
            }
          },
          {
            key: {
              text: "Application"
            },
            value: {
              text: "[Limitation]"
            }
          },
          {
            key: {
              text: "Amount to pay"
            },
            value: {
              text: "£220.00"
            }
          },
                    {
            key: {
              text: "Bank transfer reference number"
            },
            value: {
              text: "APP1234567-080394
"
            }
          }
        ]
      }) }}
      

      {{ govukWarningText({
  text: "When making a payment, include your bank transfer reference number",
  iconFallbackText: "Warning"
}) }} 
      

<a class="govuk-button" data-module="govuk-button" href="bank-transfer-confirmation.html">
  Confirm payment method and submit application
</a>

    </div>
  </div>
{% endblock %}