{% extends "layouts/main.html" %}

{% block pageTitle %}
Organisation payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "#",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Organisation payment</h1>
      
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Application"
            },
            value: {
              text: "Application title eg Application for Notice of Eligibility (OOW Unlimited II/1)"
            }
          },
          {
            key: {
              text: "Amount to pay"
            },
            value: {
              text: "£220.00"
            }
          }
        ]
      }) }}

<h2 class="govuk-heading-m">Who is paying?</h2>

{{ govukInput({
  label: {
    text: "Paying organisation",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Provide the full name of the organisation"
  },
  id: "event-name",
  name: "eventName"
}) }}

{% set invoiceNumber %}
{% call govukFieldset({
}) %}


  {{ govukInput({
    label: {
      text: "Provide invoice number"
    },
    id: "invoiceNumber",
    name: "invoiceNumber"
  }) }}

{% endcall %}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Do you have an invoice number?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "invoicenumber-yes",
      text: "Yes",
      conditional: {
        html: invoiceNumber
      }
    },
    {
      value: "invoicenumber-no",
      text: "No"
    
    }
  ]
}) }}

{% set rollingaccNumberHtml %}
{% call govukFieldset({
}) %}


  {{ govukInput({
    label: {
      text: "Rolling account number"
    },
    id: "rollingaccNumberHtml",
    name: "rollingaccNumberHtml"
  }) }}

{% endcall %}
{% endset -%}

{{ govukRadios({
  name: "rollingaccNumber",
  fieldset: {
    legend: {
      text: "Do you have a rolling account number?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "rollingaccnumber-yes",
      text: "Yes",
      conditional: {
        html: rollingaccNumberHtml
      }
    },
    {
      value: "rollingaccnumber-no",
      text: "No"
    
    }
  ]
}) }}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

<div class="govuk-form-group">
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    hint: {
      text: "This document should clearly show who the paying company is, and that they are covering the cost fo your application."
    },
    label: {
      text: "Upload proof of authorisation",
      classes: "govuk-label--s"
    },
    javascript: true
  }) }}
</div>
      

<a class="govuk-button" data-module="govuk-button" href="check-corporate-payment.html">
  Continue
</a>





    </div>
  </div>
{% endblock %}