{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Do you have a Seafarer Reference Number (SRN)? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
  navigation: [   
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Do you have a Seafarer Reference Number (SRN)?</h1>
      <p class="govuk-body">Your seafarer reference number may also be known to you as a seafarer documentation system (SDS) number. This reference number is usually found in your Notice of Eligibility (NOE) email or other related documentation. </p>

      <p class="govuk-body">If you know that you have a seafarer reference number, but do not know what it is, select 'No'.</p>
      <p class="govuk-body">We will match your credentials to your existing Maritime and Coastguard Agency (MCA) record.</p>

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

<form>
  {{ govukRadios({
  idPrefix: "Pay online",
  name: "redirect",
  
  items: [
    {
      value: "~provide-your-seafarer-reference-number.html",
      text: "Yes"
    },
    {
      value: "~register-with-the-mca.html",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
</form>

{% endblock %}

