{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Tell us your registered sex at birth and your chosen gender identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <span class="govuk-caption-l">Personal details</span>
      <h1 class="govuk-heading-l">
Tell us your registered sex at birth and your chosen gender identity
      </h1>

      <p class="govuk-body">Telling us your registered sex at birth and chosen gender identity helps us to ensure accurate identity verification.
      </p>

{% from "govuk/components/input/macro.njk" import govukInput %}
      <form class="form" action="which-country-issued-your-passport" method="post" novalidate>

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set genderHtml %}
  {{ govukInput({
    id: "gender-description",
    name: "genderDescription",
    type: "text",
    classes: "govuk-!-width-one-half",
    label: {
      text: "What is your gender identity? (optional)"
    }
  }) }}
{% endset -%}

{{ govukRadios({
  name: "sex",
  fieldset: {
    legend: {
      text: "What was your registered sex at birth?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "female",
      text: "Female"
    },
    {
      value: "male",
      text: "Male"
    },
    {
      value: "indeterminate",
      text: "Indeterminate",
      hint: {
        text: "Only select indeterminate if that was your registered sex at birth and appears on your birth certificate."
      }
      }
  ]
}) }}

{{ govukRadios({
  name: "genderIdentity",
  fieldset: {
    legend: {
      text: "Is the gender you identify as, the same as your registered sex at birth?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: genderHtml
      }
    }
  ]
}) }}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "The Maritime Coastguard Agency (MCA) can use a Passport, a Gender Recognition Certificate (GRC), or Birth Certificate to confirm the information you provide. "
}) }}

{{ govukButton({
  text: "Continue"
}) }}
        </form>
    </div>
  </div>

{% endblock %}