{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "MCA",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to apply for the following Certificates of Competency (CoC) for deck:</p>

      <p class="govuk-heading-s govuk-!-static-margin-bottom-1">Officer of the Watch (OOW)</p>
      <ul class="govuk-list govuk-list">
<li>- Unlimited - II/1</li>
<li>- Less than 500 GT - Near-coastal - II/3</li>
<li>- Less than 500 GT - Limited to Category D waters - II/3</li>
</ul>
      <p class="govuk-heading-s govuk-!-static-margin-bottom-1">Chief Mate</p>
            <ul class="govuk-list govuk-list">

<li>- Unlimited - All Routes</li>
<li>- Less than 3000 GT - Unlimited Area</li>
<li>- Less than 3000 GT - Near-coastal</li>
<li>- Unlimited Tonnage - Near-coastal</li>
</ul>
      <p class="govuk-heading-s govuk-!-static-margin-bottom-1">Master</p>
      <ul class="govuk-list govuk-list">
<li>- Unlimited</li>
<li>- Less than 3000 GT - Unlimited Area</li>
<li>- Unlimited Tonnage - Near-coastal</li>
<li>- Less than 500 GT - Near-coastal including German waters</li>
<li>- Less than 500 GT - Limited to Category D waters</li>
<li>- Less than 3000 GT - Near-coastal - Specified trading areas</li>
      </ul>

<p>For all other applications, <a href="https://www.gov.uk/government/collections/seafarer-training-certification-examinations-and-careers">refer to the related guidance (opens in a new window)</a>.</p>

      <h2 class="govuk-heading-m">
        What you will need
      </h2>

      <p>To access this service you will need to provide your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>date of birth</li>
<li>Seafarer Reference Number (SRN)</li>
</ul>

<p>To complete your application you will need to provide:</p>
<ul class="govuk-list govuk-list--bullet">
<li><a href="templates-for-a-coc-application.html">evidence of your qualifying seagoing service</a></li>
<li><a href="what-you-need-for-a-coc-application.html">information to support your application</a></li>
</ul>

      <h2 class="govuk-heading-m">
        What your application costs
      </h2>

<p>A new application costs £220.</p> 
  
 <p>Applications for reapplying or upgrading vary in cost. Exact costs will be confirmed before you complete your application.</p>
      {{ govukButton({
        text: "Start now",
        href: "/accessing-the-service/v4/do-you-have-a-seafarer-reference-number",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">
If you do not have a Seafarer Reference Number (SRN) 
</h3>
<p>Your SRN may also be known to you as a Seafarer Documentation System (SDS) number.</p>
<p>If you do not have a SDS or SRN, you will need to <a href="/accessing-the-service/v4/tell-us-your-name">request a SRN</a>. We will require an image of your valid passport to verify your identity. Requesting a SRN takes around 5 minutes.</p>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">
If you cannot find your Seafarer Reference Number (SRN) 
</h3>
<p>If you cannot find your SRN, email, deck@mcga.gov.uk</p> 

<h2 class="govuk-heading-m">
Other ways you can apply 
</h2>
      <p>
        You can <a href="https://www.gov.uk/government/publications/certificate-of-competency-deck-msf-4274">apply by post</a>.
      </p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="templates-for-a-coc-application.html">
Templates to log your evidence of qualifying seagoing service               </a>
            </li>
            <li>
              <a href="what-you-need-for-a-coc-application.html">
       Information you may need to provide for your Certificate of Competency (CoC) application
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
