{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Apply for and manage seafarer certificates"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                  <span class="govuk-caption-l">{{ serviceName }}</span>

      <h1 class="govuk-heading-l">
                Templates for Certificate of Competency (CoC) applications
      </h1>
      <h2 class="govuk-heading-m">Seagoing service</h2>
      <p>Within the service, we will ask you to download and use the following templates to record your seagoing service. We will show you these templates again, so you don’t need to remember or save them.</p>

 <h3 class="govuk-heading-s">General seagoing service</h3>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf">Seatime declaration template</a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt">Seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s">Yacht seagoing service</h3>

  <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><a href="">Yacht seatime declaration template</a></a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt">Yacht seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>

      <h2 class="govuk-heading-m">Signature</h2>
      <p>We will also ask you to use this template to upload your signature to use within your application. We will show you this template again, so you don’t need to remember or save it. </p>

  <table class="govuk-table">
  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/signature-template.pdf"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" ><a href="/public/images/downloads/signature-template.pdf">Yacht seatime declaration template</a><br>
      <p class="govuk-body-s">PDF, 45kb</p></td>
    </tr>
  </tbody>
</table>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Templates to help with your application
              </a>
            </li>
            <li>
              <a href="#">
               Evidence you may need for your application
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
