{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "MCA",
        href: "#"
      },
            {
        text: "Apply for and manage seafarer certificates",
        href: "start"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
Templates to log evidence of your qualifying seagoing service
</h1>
<p>We have provided the following templates to record your qualifying seagoing service. We encourage you to add your qualifying seagoing time to these documents before you begin, as you will need to upload completed templates before submitting your application.</p>

 <h3 class="govuk-heading-s">General seagoing service</h3>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf">Seatime declaration template</a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt">Seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s">Yacht seagoing service</h3>

  <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><a href="">Yacht seatime declaration template</a></a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt">Yacht seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>

<p>These templates will be available in the service.</p>


<h2 class="govuk-heading-m">What you need to do next</h2>

<p>Go to the <a href="start">Apply for and manage seafarer certificates</a> service to start your application.</p>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="start">
              Apply for and manage seafarer certificates</a>
            </li>
            <li>
              <a href="what-you-need-for-a-coc-application.html">
       Information you may need to provide for your Certificate of Competency (CoC) application
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
