{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  useTudorCrown: "true"
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "MCA",
        href: "#"
      },
            {
        text: "Apply for and manage seafarer certificates",
        href: "start"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Information you may need to provide for your Certificate of Competency (CoC) application
      </h1>

      <p>
We have provided the information required for a deck Certificate of Competency (CoC). The exact requirements will vary for specific applications.</p>

<h2 class="govuk-heading-m">Notice of Eligibility (NOE)</h2>
<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Identity and medical</h3>
<ul class="govuk-list govuk-list">
<li>- Passport-style photo</li>
<li>- Medical fitness certificate</li>
</ul>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Training and education</h3>
<ul class="govuk-list govuk-list">
<li>- 
  College education and training enrolment letter
</li>
<li>- 
  Personal Survival Techniques (STCW A-VI/1-1)
</li>
<li>- 
  Fire Prevention and Fire Fighting (STCW A-VI/1-2)  
</li>
<li>- Elementary First Aid (STCW A-VI/1-3)
</li>
<li>- 
  Personal Safety and Social Responsibility (STCW A-VI/1-4)
</li>
</ul>
<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Seagoing service</h3>
<ul class="govuk-list govuk-list">
<li>- Qualifying seagoing service</li>
<li>- Seagoing service evidence</li>
<li>- Training Record Book</li>
<li>- Workbooks</li>
<li>- Specified Area</li>
</ul>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Other requirements</h3>
<ul class="govuk-list govuk-list">
<li>- SMarT funded status</li>
<li>- Return-delivery address</li>
</ul>

<h2 class="govuk-heading-m">Supporting evidence</h2>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Training and education</h3>
<ul class="govuk-list govuk-list">
<li>- 
  College education and training completion letter with exemptions	
  
</li>
<li>- 

 OOW Unlimited level college education and training completion letter	
  
</li>
<li>- 
  College education and training completion letter	
  
</li>
<li>- 
  Navigation, and Stability and Operations MCA-approved written exams	
  
</li>
<li>- 
  General Ship Knowledge, Chart Work, and Practical Navigation MCA-approved written exams	
  
</li>
<li>- 
  Navigation, and Stability and Structure MCA-approved written exams	
  
</li>
<li>- 
  Magnetic Compass and Navigational Aids, Ship Construction and Stability, and Shipboard Operations MCA-approved written exams	
  
</li>
<li>- Proficiency in Survival Craft and Rescue Boats (STCW A-VI/2-1)</li>
<li>- Advanced Fire Fighting (STCW A-VI/3)</li>
<li>- Medical First Aid (STCW A-VI/4-1)</li>
<li>- Medical Care Certificate (STCW A-VI/4-2)</li>
</ul>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Ancillary certificates</h3>
<ul class="govuk-list govuk-list">

<li>- Signals	</li>
<li>- Efficient Deck Hand	</li>
<li>- NARAS/NAEST Operational (ECDIS if NAEST completed before June 2005)</li>

<li>- NARAS/NAEST Management	</li>
<li>- HELM Operational	</li>
<li>- HELM Management	</li>
</ul>

<h3 class="govuk-heading-s govuk-!-static-margin-bottom-1">Other requirements</h3>
<ul class="govuk-list govuk-list">

<li>- GMDSS	</li>
<li>- Signature	</li>
<li>- Delivery address	</li>
</ul>


<h2 class="govuk-heading-m">What you need to do next</h2>

<p>Go to the <a href="start">Apply for and manage seafarer certificates</a> service to start your application.</p>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
                       <li>
              <a href="start">
              Apply for and manage seafarer certificates</a>
            </li>
            <li>
            <li>
              <a href="templates-for-a-coc-application.html">
Templates to log your evidence of qualifying seagoing service               </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
