{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
Provide qualifying seagoing service
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Seagoing service</span>
      <h1 class="govuk-heading-l">
Provide qualifying seagoing service
</h1>

<p class="govuk">Download and use the following templates to record your seagoing service.</p>
<p class="govuk">To help you, we’ve included information within each template that tells you how much seagoing service you should provide. </p>
<p class="govuk">If you need to record yacht-related seagoing service, you must use the yacht-related template. If you submit seagoing service using the incorrect template, it may delay your application. </p>

<h2 class="govuk-heading-m">General seagoing service</h1>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.pdf">Seatime declaration template</a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell"><a href="/public/images/downloads/Deck-Sea-Time-Declaration-template.odt">Seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">Yacht seagoing service</h1>

  <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><img src="/public/images/file-pdf.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" style="border-bottom: none  !important;"><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.pdf"><a href="">Yacht seatime declaration template</a></a><br>
      <p class="govuk-body-s">PDF, 194kb</p></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell" width="100px" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt"><img src="/public/images/file-odt.svg" width="100px" /></a></td>
      <td class="govuk-table__cell" ><a href="/public/images/downloads/Deck-Yacht-Sea-Time-Declaration-template.odt">Yacht seatime declaration template</a><br>
      <p class="govuk-body-s">ODT, 194kb</p></td>
    </tr>
  </tbody>
</table>


{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Provide sufficient, qualifying seagoing service for your application, as explained in the templates.",
  iconFallbackText: "Warning"
}) }}

<form action="check-qualifying-seagoing-service" method="" enctype="multipart/form-data">


<div class="govuk-form-group">
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    hint: {
      text: "Upload your documents as scanned copies or photos of the original."
    },
    label: {
      text: "Upload your completed seagoing service declaration template",
      classes: "govuk-label--m"
    },
    javascript: true
  }) }}
</div>



      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
       </form> 
    </div>
  </div>


{% endblock %}
