{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
5247 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Seagoing service</span>
      <h1 class="govuk-heading-l">
Send your Training Record Book (TRB) to the Maritime and Coastguard Agency (MCA)
      </h1>

<p class="govuk">
Your training record book should list all performed activities, signed off by officers whilst at sea. All recorded training acts as evidence that will support your application.                                                        
</p>
<p class="govuk">Ensure your training book is complete. An incomplete training book can delay the procesing of your application or mean that it's not approved.
</p>

      <h2 class="govuk-heading-m">
Sending in your Training Record Book      
</h2>

<p class="govuk">
Write your Seafarer Reference Number (SRN) on a piece of paper and attach it to your TRB before posting it to us. We will pair it with the related application that you have submitted.
<p class="govuk">
Your original Training Record Book (TRB) must be posted sent to our office as a hard copy. Workbooks cannot be uploaded.</p>

<p class="govuk">
Post your Training Record Book to:</p>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  html: "Seafarer Operations (Training and Certification)<br> Maritime and Coastguard Agency<br> Spring Place<br> 105 
Commercial Road<br> Southampton<br> SO15 1EG<br> United Kingdom"
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Select to tell us that you:",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "trb",
      text: "Will send your Training Record Book (TRB) to the Maritime and Coastguard Agency (MCA). "
    },
    {
      value: "etrb",
      text: "Have an Electronic Training Record Book (ETRB)",
      hint: "If you have an ETRB, the MCA will contact you."
    }
  ]
}) }}

<form action="/applications-v4/apply-for-notice-of-eligibility" method="post" enctype="multipart/form-data">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

    </div>
  </div>


{% endblock %}
