{% extends "layouts/pattern.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row" style="margin-bottom: 50px">
        <h1 class="govuk-heading-xl" style="margin-top: 30px;">
        Status key
      </h1>
      </div>
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
<p><a href="status" class="govuk-back-link">Back to status navigation</a></p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Details</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">The task/item/request asked of the user is<br> done and no further action is required.</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag" style="background-color: white;">
          Complete
        </strong></td>
    </tr>
                    <tr class="govuk-table__row">
      <td class="govuk-table__cell">User has an exam booked</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag govuk-tag--green">
          Booked
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">User is required to do something</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag">
          Action required
        </strong></td>
    </tr>
                <tr class="govuk-table__row">
      <td class="govuk-table__cell">User needs to book an exam</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag">
          Not booked
        </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Item requires payment to be completed</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag govuk-tag--red">
          Pending payment
        </strong></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">Item is being worked on by the MCA</td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag govuk-tag--yellow">
          Processing
        </strong></td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell">Indicates that a wider COC application is no longer <br>active due to an invalid NOE.<br><span class="govuk-hint">(Reapply history only)</span> </td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag" style="background-color: white;">
          Closed
        </strong></td>
    </tr>
            <tr class="govuk-table__row">
      <td class="govuk-table__cell">Application has been cancelled by the user<br><span class="govuk-hint">(Applications screen only)</span></td>
      <td class="govuk-table__cell" style="text-align: right">
        <strong class="govuk-tag govuk-tag--grey">
          Cancelled
        </strong></td>
    </tr>

  </tbody>
</table>


</div>
</div>
{% endblock %}