{% extends "layouts/pattern.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row" style="margin-bottom: 50px">
        <h1 class="govuk-heading-xl" style="margin-top: 30px;">
        Application overview screen
      </h1>
      </div>
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<p><a href="status" class="govuk-back-link">Back to status navigation</a></p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#1">1. New or reappyly (upto 2nd attempt)</a></li>
  <li><a href="#2">2. Reapply (3+ attempts)</a></li>
  <li><a href="#3">3. Non NOE</a></li>

</ul>

    <h3 class="govuk-prototype-kit-task-list__section" id="1">1. COC application - new or reapplied (upto 2nd attempt)</h4>

     <p><strong>1.1</strong> initial view when application is started (2 part oral exam)</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: ""
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
                        status: {
                text: ""
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
                    {
            title: {
              text: "Provide supporting evidence"
            }
          }

        ]
      }) }}

      <p><strong>1.1.1</strong> initial view when application is started  (1 part oral exam)</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: ""
            }
          },
          {
            title: {
              text: "Pass oral exam"
            },
                        status: {
                text: ""
            }
          },
                    {
            title: {
              text: "Provide supporting evidence"
            }
          }

        ]
      }) }}


      <p><strong>1.2</strong> Applicant needs to pay & submit NOE</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
                        status: {
              tag: {
                text: "Pending payment",
                classes: "govuk-tag--red"
              }
            }
          },
                                        
          {
            title: {
              text: "Make a payment"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag"
              }
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}

                       <p><strong>1.3</strong> Applicant needs to pay & submit NOE (3rd attempt +)</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
                         status: {
              tag: {
                text: "Pending payment",
                classes: "govuk-tag--red"
              }
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
                       href: "#",
            status: {
              tag: {
                text: "Pending payment",
                classes: "govuk-tag--red"
              }
            }
          },
                                         
          {
            title: {
              text: "Make a payment"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
                        status: {
                text: ""
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          }
        ]
      }) }}


      <p><strong>1.4:</strong> MCA to reconcile payment</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                        status: {
              tag: {
                text: "Pending payment",
                classes: "govuk-tag--red"
              }
            }
          },
                                        
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}


      <p><strong>1.5:</strong> MCA processing the NOE</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                        status: {
              tag: {
                text: "Processing",
                classes: "govuk-tag--yellow"
              }
            }
          },
                                        
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}


            <p><strong>1.6:</strong> MCA needs something from the applicant (NOE related)</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
             href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}


      <p><strong>1.7:</strong> NOE issued</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
                        href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}

           <p><strong>1.8</strong> Part A exam passed</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
            href: "#",
            status: {
              tag: {
                text: "Not booked",
                classes: "govuk-tag--blue"
              }
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}


  <p><strong>1.9:</strong> Part B exam booked</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
            href: "#",
            status: {
                              tag: {
                text: "Booked",
                classes: "govuk-tag--green"
              }
            }
          },
 
          {
            title: {
              text: "Provide supporting evidence"
            }
          }
        ]
      }) }}

                 <p><strong>1.10:</strong> Part B exam passed - draft COC record created</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
                         status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}


   <p><strong>1.11:</strong> MCA processing the supporting evidence for the COC</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
                         status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            status: {
              tag: {
                text: "Processing",
                classes: "govuk-tag--yellow"
              }
            }
          }
        ]
      }) }}


   <p><strong>1.12:</strong> MCA need something from the applicant (COC related)</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
           
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
                         status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}


   <p><strong>1.13:</strong> MCA have issued the COC</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Provide return-delivery address"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Make a payment"
            },
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            },
             status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            },
                         status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            
                                     status: {
                text: "Complete"
            }
          }
             ]
      }) }}


    <h3 class="govuk-prototype-kit-task-list__section" id="2">Reapply (3+ attempts)</h4>

                 <p><strong>2.1</strong> initial view</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Make a payment"
            }
          },
          {
            title: {
              text: "Pass Part A exam"
            }
          },
          {
            title: {
              text: "Pass Part B exam"
            }
          }
        ]
      }) }}

        <p><strong>2.1.1</strong> inititial view (no part A exam) </p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Apply for Notice of Eligibility  (NOE)"
            },
                       href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Provide supporting evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Make a payment"
            }
          },
          {
            title: {
              text: "Pass oral exam"
            }
          }
        ]
      }) }}

    <h3 class="govuk-prototype-kit-task-list__section" id="3">3. Non NOE</h4>


     <p><strong>3.1</strong> initial view when application is started</p>

   {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "Provide supporting evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Make a payment"
            }
          }
        ]
      }) }}
      

      </div>
      </div>



{% endblock %}
