{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Apply for Notice of Eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "#",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">[Limitation]</span>
      <h1 class="govuk-heading-l">
Apply for a Notification of Eligibility (NoE)
      </h1>

<p class="govuk-body govuk-!-margin-bottom-7">You have completed x of xx sections.</p>


<h2 class="govuk-heading-m">Identity and medical</h2>

      {{ govukTaskList({
        idPrefix: "id-medical",
        items: [
        {
            title: {
              text: "Passport-style photo"
            },
            href: "noe/provide-passport-style-photo",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Medical fitness certificate"
            },
            href: "noe/provide-medical-fitness-certificate",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

<h2 class="govuk-heading-m">Training and education</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "College education and training enrolment letter"
            },
            href: "noe/provide-your-college-education-and-training-enrolment-letter",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Personal Survival Techniques"
            },
                                                            hint: {
        text: "STCW A-VI/1-1"
      },
            href: "noe/provide-evidence-of-your-stcw-a-vi-1-1-personal-survival-techniques",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Fire Prevention and Fire Fighting"
            },
                                                                        hint: {
        text: "STCW A-VI/1-2"
      },

            href: "noe/provide-evidence-of-your-stcw-a-vi-1-2-fire-prevention-and-fire-fighting",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Elementary First Aid"
            },
                                                                        hint: {
        text: "STCW A-VI/1-3"
      },

            href: "noe/provide-evidence-of-your-stcw-a-vi-1-3-elementary-first-aid",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Personal Safety and Social Responsibility"
            },
            hint: {
        text: "STCW A-VI/1-4"
      },
            href: "noe/provide-evidence-of-your-stcw-a-vi-1-4-personal-safety-and-social-responsibility.html",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

<h2 class="govuk-heading-m">Seagoing service</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "Seagoing service declaration table"
            },
            href: "noe/provide-your-seagoing-service-declaration-table",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Sea service evidence"
            },
            href: "noe/provide-evidence-of-your-sea-service",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Training Record Book"
            },
            href: "noe/send-in-your-training-record-book.html",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Workbooks"
            },
            href: "noe/send-in-your-work-books",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">Other requirements</h2>

      {{ govukTaskList({
        idPrefix: "submission",
        items: [
                 {
            title: {
              text: "Specified Area"
            },
            href: "noe/confirmation-of-specificed-area",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "SMarT funded status"
            },
            href: "noe/is-your-training-smart-funded",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

<h2 class="govuk-heading-m">Submission</h2>

      {{ govukTaskList({
        idPrefix: "submission",
        items: [
        {
            title: {
              text: "Return-delivery address"
            },
            href: "provide-your-return-delivery-address",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Declaration"
            }
          }
        
        ]
      }) }}

    </div>
  </div>

{% endblock %}
