{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
Pass Part A exam
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">[Limitation]</span>
      <h1 class="govuk-heading-l">
Your exam (Part A)
</h1>

<p class="govuk" >
You must pass the online exam (Part A) before you can take Part B.
</p>
<p class="govuk" >
As long as your Notice of Eligibility (NoE) is and remains valid, you can take your exam (Part A) at any time.
</p>
<p class="govuk" >
Your exam (Part B) must be taken within 12 months of passing Part A. We'll send you information about booking Part B of your exam when you pass Part A.
</p>

<h2 class="govuk-heading-m">
Preparing for your exam
</h2>

<p>Before you take your exam, read the <a href="https://www.gov.uk/government/publications/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes#codeofconduct" target="_blank">Candidate's code of conduct (opens in a new window)</a> .</p>

<p>The code of conduct tells you what: </p>
<ul class="govuk-list govuk-list--bullet">
<li>stationary you will require</li>  
<li>computer equipment you will need</li>
<li>exam rules you must follow</li>
</ul>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You may fail your exam if you do not follow the exam-related rules.",
  iconFallbackText: "Warning"
}) }}

<p>You will need a username and password to access the exam. Check the exam-booking email we sent you for this information. If you cannot find your email, <a href="/footer/v2/contact">contact the MCA</a>.</p>


<div class="govuk-button-group">
  <a href="https://oral-parta.mcga.gov.uk/Run/Assessment/ModuleWidgetWithSignIn/25a127b1-c65e-4eff-810e-77b10565ca39" class="govuk-button" target="_blank">
    Take Exam (Part A) now
  </a>
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/applications-v4/application-overview-3">
    Complete exam later
</a>
</div>

    </div>
  </div>

{% endblock %}