{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Limitation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Application selection</span>

      <h1 class="govuk-heading-l">Tell us under which limitation you are applying</h1>

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/button/macro.njk" import govukButton %}


<form>
  {{ govukRadios({
  idPrefix: "OOWrestrictions",
  name: "redirect",
  
  items: [
    {
      value: "",
      text: "Master Unlimited"
    },
    {
      value: "",
      text: "Master, less than 3,000 GT, unlimited area"
    },
    {
      value: "",
      text: "Master, Unlimited Tonnage, near-coastal"
    },
    {
      value: "",
      text: "Master, less than 500 GT, near coastal including German waters"
    },
    {
      value: "",
      text: "Master, Less than 500gt, limited to Category D waters"
    },
    {
      value: "",
      text: "Master, less than 3,000 GT, Near Coastal, specified trading areas"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
</form>
              

{% endblock %}

